@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary-background: #191919;
	--secondary-background: #282828;
	--primary-text: #e5e5e5;
	--primary-rounding: 5px;
	--full-rounding: 9999px;

	--player-color: #1941e4;
	--enemy-color: #e95d18;
	--boost-color: #249bd8;
	--setback-color: #000;
	--other-action-color: #479951;

	--error-color: #a70000;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,
body {
	background-color: var(--primary-background);
}

::-webkit-scrollbar-track {
	background-color: var(--primary-background);
}

::-webkit-scrollbar {
	width: 0.5em;
	background-color: var(--primary-background);
}

::-webkit-scrollbar-thumb {
	background-color: var(--secondary-background);
}
